.search-bar{
    margin-top:80px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    gap:20px;
}

.textfield{
    width:500px;
    font-size:30px;
    border:none;
    border-bottom:3px solid #1D5D9B;
    color:black;
}

.textfield:active{
    border:none;
}

.textfield::placeholder{
    color: black;
}

.searchButton{
    cursor: pointer;
    font-size:30px;
    color:#1D5D9B;
    background-color:white;
    border-color:black;
    border-radius:10px;

}